 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
 }

 html,
 body{
    height: 100%;
    width: 100%;
 }

 body{
    background-color: black;
    cursor: none;
 }
 /* img{
    height: 300px;
    
 } */

 #main{
    height: 100%;
    width: 100%;
    /* background-color: #084d62; */
 }

  #cursor{
    height: 20px;
    position:fixed;
    transform: translate(-50% -50%);
 }
