*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;

}
html,
body{
    height: 100%;
    width: 100%;
}

 body{
    background-color: #111;
    display: flex  ;

    align-items: center;
    justify-content: center;
 }

 h1{
    font-size: 80px;
    background-color: #333;
    padding: 20px 40px;
    border-radius: 15px;
    font-family: monospace;
 }